<div style="text-align:center;padding:2em 0 1em 2em;">
  <div>Study spelling and definition of these words:</div>
</div>
<div ng-repeat="word in words" style="width:100%;padding:1em;-webkit-overflow-scrolling: touch;">


<div id="xword{{$index}}" ng-if="bee.mode==='study'" class="word-panel study" style="position:relative;-webkit-overflow-scrolling: touch;">
  <div class="row">
    <div class="col-xs-2 col-sm-1 study-word" style="text-align:right;">
      <audio id="audio-player{{$index}}" controls style="display:none;">
        <source src="{{audio(word.audio_url)}}" type="audio/mpeg">
      </audio>
      <a ng-if="bee.practicing!==$index" ng-click="play($index)">
        <i class="fa fa-play fa-2x" style="color:#fff;cursor:pointer;"></i>
      </a>
      <a ng-if="bee.practicing === $index" ng-click="simon('practice', $index)">
        <i class="fa fa-play fa-2x" style="color:#fdaf17;cursor:pointer;"></i>
      </a>
    </div>
    <div class="col-xs-10 col-sm-11" style="margin:0;padding:0;">
      <div><label style="color:white;font-size:2em;line-height:.9em;letter-spacing:2px;">{{word.word}}</label></div>
    </div>
  </div>
  <div class="row" style="color:#fff;padding:0 1em;">
    <div style="padding:1em 0;">{{word.part}}</div>
    <div>{{word.definition}}</div>
  </div>
</div>
</div>
<div class="up-row">
  <i ng-click="up()" class="fa fa-arrow-up fa-2x"></i>
</div>
