<div style="text-align:center;padding:1em 0 1em 0;">
  <div style="padding:0 0 2em 0;">Enter these 10 randomly selected words from round <b>{{bee.level}}</b> to get your score.</div>
</div>
<div ng-repeat="word in testWords" style="width:100%;padding:1em;">
  <div class="row word-panel" style="height:4em;position:relative;background-color:{{bee.colors[$index]}};margin-top:-2em;border-radius:0;">
    <div class="col-xs-2 col-sm-1" style="text-align:right;">
      <audio id="audio-player{{$index}}" controls style="display:none;">
        <source src="{{word.audio}}" type="audio/mpeg">
      </audio>
      <a ng-click="play($index)" >
        <i class="fa fa-play fa-2x"></i>
      </a>
    </div>
    <div class="col-xs-10 col-sm-11" style="xborder:1px solid red;margin:0;padding:0;">
      <input id="spelling{{$index}}" ng-init="spelling=values[$index]" ng-model="spelling" ng-change="updated($index)"
             autocomplete="off" autocorrect="off" autocapitalize="off" lowered
             style="padding-left:.2em;width:100%;font-size:1.2em;border-radius:2px;border:1px solid white;"
             my-enter="testWord($index)"></input>
    </div>
  </div>
</div>
<div ng-click="score()" class="row" style="background-color:#fdaf17;color:white;padding:1em 0;text-align:center;padding:1em;margin:-1em 1.45em 0 1.45em;">
  Get Score
</div>
