<div ng-include src="'audios.html'"></div>
<div style="width:100%;margin-top:3.5em;">
   <div ng-include src="'rounds.html'"></div>
  <div style="height:{{windowHeight-240}}px;overflow-y:scroll;overflow-x:hidden;">
    <div ng-include ng-if="xcongrats() && bee.mode==='congrats'" src="'congrats.html'"></div>
    <div ng-include ng-if="bee.mode==='study'" src="'study.html'"></div>
    <div ng-include ng-if="bee.mode==='practice'" src="'practice.html'"></div>
    <div ng-include ng-if="bee.mode==='test'" src="'test.html'"></div>
  </div>
  <div class="copyright">Copyright &copy; 2016 Sasha Productions</div>
</div>
