<div ng-include src="'audios.html'"></div>
<div xclass="xcontainer" style="width:100%;margin-top:5.5em;">
   <div ng-include src="'rounds.html'"></div>
  <div style="height:{{windowHeight-290}}px;overflow-y:scroll;overflow-x:hidden;">
    <div ng-if="xcongrats()" ng-include src="'congrats.html'"></div>
    <div ng-if="!xcongrats()">
      <div ng-include src="'round-actions.html'"></div>
      <div ng-include ng-if="bee.mode==='study'" src="'study.html'"></div>
      <div ng-include ng-if="bee.mode==='practice'" src="'practice.html'"></div>
      <div ng-include ng-if="bee.mode==='test'" src="'test.html'"></div>
    </div>
  </div>
  <div style="position:fixed;bottom:0;left:0;background-color:#222;color:#fff;width:100%;text-align:center;font-size:.85em;padding:1em 0;">Copyright &copy; 2016 Sasha Productions</div>
</div>
