<div class="xcontainer">
  <div ng-repeat="word in words" class="word-panel">
    <div class="audio-field">
      <audio controls>
        <source src="{{word.audio}}" type="audio/mpeg">
      </audio>
    </div>
    <input ng-model="spelling" type="text"></input>
    <a ng-click="checkWord(word.text, spelling, $index)">
      <i ng-show="checks[$index] == undefined" class="fa fa-circle fa-2x"></i>
      <i ng-show="checks[$index]" class="fa fa-check fa-2x"></i>
      <i ng-show="checks[$index] == false" class="fa fa-times fa-2x"></i>
    </a>
  </div>
</div>
