<div id="home">

  <div style="background-color:#fff;max-width:20em;margin:0 auto;border-radius:2em;">
    <h1 style="color:#999;">Sasha<br><img src="images/logo.png"/><br>Game</h1>
  </div>
  <div style="width:100%;text-align:center;padding-top:2em;">
    <a class="btn btn-lg" ui-sref="words" style="background-color:#fdaf17;color:#fff;">Welcome</a>
  </div>
</div>
