<div style="max-width:960px;margin:0 auto;background-color:#444;">
  <div ng-repeat="word in words" style="margin-bottom:1em;width:100%;background-color:#000;padding-bottom:2px;">
    <div style="padding:.5em;float:left;background-color:#000;">
      <audio controls style="width:2.9em;">
        <source src="{{word.audio}}" type="audio/mpeg">
      </audio>
    </div>
    <input ng-model="spelling{{}}" type="text" style="width:87%;border:none;font-size:2.4em;margin-top:2px;padding-left:3px;"></input>
    <a ng-click="checkWord(word.text, )"><i class="fa fa-circle fa-2x" style="color:#fff;padding-left:.3em;margin-top:-2px;"></i></a>
  </div>
</div>
