<audio id="ding" controls style="display:none;">
  <source src="http://newt.phys.unsw.edu.au/music/bellplates/sounds/bellplate-corner4.mp3" type="audio/mpeg">
</audio>
<audio id="buzzer" controls style="display:none;">
  <source src="http://www.sounds.beachware.com/2illionzayp3may/zwvyaz/BUZZER.mp3" type="audio/mpeg">
</audio>
<audio id="diana" controls style="display:none;">
  <source src="http://www.sounds.beachware.com/2illionzayp3may/zwvyaz/BUZZER.mp3" type="audio/mpeg">
</audio>
<div xclass="xcontainer" style="width:100%;">
  <div style="background-color:#222;">
    <h2 style="font-weight:bold;text-align:center;padding:.25em 0;color:#fff;">SASHA <span style="color:#fdaf17">BEE</span> GAME</h2>
  </div>
  <div class="rounds">
    <ul unselectable="on" onselectstart="return false" onmousedown="return false" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;">
      <li ng-repeat="l in bee.roundLabels" ng-click="loadLevel($index);" ng-class="{active: bee.round===$index, success: congrats[$index]===true}">{{l}}</li>
    </ul>
  </div>
  <div ng-if="xcongrats()" class="word-panel right" style="color:#fff;margin:1.2em 1.5em;">
    <div><b>Congratulations!</b></div>
    <div style="padding:.75em 0;">You have mastered all {{words.length}} words in round <b>{{bee.level}}</b> :</div>
    <div>{{allwords}}</div>
  </div>
  <div ng-if="!xcongrats()">
    <div class="level-info" unselectable="on" onselectstart="return false" onmousedown="return false" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;background-color:#222;color:white;height:3em;margin-top:1em;font-size:1.25em;line-height:1em;">
      <div style="float:left;padding-left:2em;">Round: <b style="font-size:1.25em;color:#fdaf17">{{bee.level}}</b></div>
      <div style="float:right;padding-right:2em;">Words: <b style="font-size:1.25em;color:#fdaf17">{{words.length}}</b></div>
    </div>

  <div class="level-action" style="margin-top:1.2em;">
    <a ng-if="bee.mode==='test'" ng-click="simon('study')" style="cursor:pointer;background-color:#000;color:#fff;padding:.5em 2em;border-radius:3px;">Study Guide</a>
    <a id="take-test" ng-if="bee.mode==='study'" ng-click="simon('test')" style="cursor:pointer;background-color:#fdaf17;color:#fff;padding:.5em 2em;border-radius:3px;">Take Test</a>
  </div>
  <div ng-repeat="word in words" style="width:100%;padding:1em;">
    <div ng-if="bee.mode==='test'" class="row word-panel" ng-class="{wrong:checks[$index]==false, right:checks[$index]}" style="height:4em;position:relative;">
      <div ng-if="checks[$index]==false" style="position:absolute;left:0;top:0px;">
        <a ng-click="simon('study', $index)">
          <i class="fa fa-question-circle fa-2x" style="color:#fff"></i>
        </a>
      </div>

      <div class="col-xs-2 col-sm-1" style="xborder:1px solid red;text-align:right;">
        <audio id="audio-player{{$index}}" controls style="display:none;">
          <source src="{{word.audio}}" type="audio/mpeg">
        </audio>
        <a ng-click="play($index)" >
          <i class="fa fa-play fa-2x"></i>
        </a>
      </div>
      <div class="col-xs-8 col-sm-10" style="xborder:1px solid red;margin:0;padding:0;">
        <input id="spelling{{$index}}" ng-model="spelling" autocomplete="off" autocorrect="off" autocapitalize="off" lowered style="padding-left:.2em;width:100%;font-size:1.2em;border-radius:2px;border:1px solid white;" my-enter="checkWord(word.text, spelling, $index)"></input>
      </div>
      <div class="col-xs-2 col-sm-1">
        <a ng-click="checkWord(word.text, spelling, $index)" style="text-align:left;xborder:1px solid white;">
          <i ng-if="!checks[$index]" class="fa fa-circle fa-2x" ng-cloak></i>
          <i ng-if="checks[$index]" class="fa fa-check fa-2x" ng-cloak></i>
          <!-- <i ng-if="checks[$index] == false" class="fa fa-times fa-2x" ng-cloak></i> -->
        </a>
      </div>
    </div>

    <div id="xword{{$index}}" ng-if="bee.mode==='study'" class="word-panel study" style="position:relative">
      <div style="z-index:100;position:absolute;right:2px;top:2px;">
        <a ng-click="simon('test', $index)">
          <i class="fa fa-square fa-2x" style="color:#888"></i>
        </a>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-1 study-word" style="text-align:right;">
          <audio id="audio-player{{$index}}" controls style="display:none;">
            <source src="{{word.audio}}" type="audio/mpeg">
          </audio>
          <a ng-click="play($index)">
            <i class="fa fa-play fa-2x" style="color:#fdaf17"></i>
          </a>
        </div>
        <div class="col-xs-10 col-sm-11" style="margin:0;padding:0;">
          <div><label style="color:white;font-size:2em;line-height:.9em;letter-spacing:2px;">{{word.text}}</label></div>
        </div>
      </div>
      <div class="row" style="color:#fff;padding:0 1em;">
        <div style="padding:1em 0;">{{word.pg}}</div>
        <div>{{word.definition}}</div>
      </div>
    </div>
  </div>
  <div style="text-align:right;padding-right:2em;margin-top:1em;">
    <i ng-click="up()" class="fa fa-arrow-up fa-2x" style="background-color:#fdaf17;color:white;padding:.25em;border-radius:3px;"></i>
  </div>
  <div style="width:100%;text-align:center;font-size:.85em;padding:2em 0;">Copyright &copy; 2016 Sasha Productions</div>
</div>
