<audio id="ding" controls style="display:none;">
  <source src="http://newt.phys.unsw.edu.au/music/bellplates/sounds/bellplate-corner4.mp3" type="audio/mpeg">
</audio>
<audio id="buzzer" controls style="display:none;">
  <source src="http://www.sounds.beachware.com/2illionzayp3may/zwvyaz/BUZZER.mp3" type="audio/mpeg">
</audio>
<audio id="diana" controls style="display:none;">
  <source src="http://www.sounds.beachware.com/2illionzayp3may/zwvyaz/BUZZER.mp3" type="audio/mpeg">
</audio>
<div xclass="xcontainer" style="width:100%;">
  <div style="background-color:#222;">
    <h2 style="font-weight:bold;text-align:center;padding:.25em 0;color:#fff;">SASHA <span style="color:#fdaf17">BEE</span> GAME</h2>
  </div>
  <div class="rounds">
    <ul>
      <li ng-repeat="l in bee.roundLabels" ng-click="loadLevel($index);" ng-class="{active: bee.round===$index, success: congrats[$index]===true}">{{l}}</li>
    </ul>
  </div>
  <div ng-if="congrats[bee.round]===true" class="word-panel right" style="color:#fff;margin:1.2em 1.5em;">
    <div><b>Congratulations!</b></div>
    <div style="padding:.75em 0;">You have mastered all {{words.length}} words in level <b>{{bee.level}}</b> :</div>
    <div>{{allwords}}</div>
  </div>
  <div ng-if="congrats[bee.round]!==true">
    <div class="level-info">
      <div>Level: <b>{{bee.level}}</b></div>
      <div>Words: <b>{{words.length}}</b></div>
    </div>

  <div class="level-action">
    <a ng-if="bee.mode==='test'" ng-click="simon('study')" style="text-decoration:underline;">Study Guide</a>
    <a ng-if="bee.mode==='study'" ng-click="simon('test')" style="text-decoration:underline;">Take Test</a>
  </div>
  <div ng-repeat="word in words" style="width:100%;padding:1em;">
    <div ng-if="bee.mode==='test'" class="row word-panel" ng-class="{wrong:checks[$index]==false, right:checks[$index]}" style="height:4em;">
      <div class="col-xs-2 col-sm-1" style="xborder:1px solid red;text-align:right;">
        <audio id="audio-player{{$index}}" controls style="display:none;">
          <source src="{{word.audio}}" type="audio/mpeg">
        </audio>
        <a ng-click="play($index)">
          <i class="fa fa-play fa-2x"></i>
        </a>
      </div>
      <div class="col-xs-8 col-sm-10" style="xborder:1px solid red;margin:0;padding:0;">
        <input ng-model="spelling" autocomplete="off" autocorrect="off" autocapitalize="off" lowered style="padding-left:.2em;width:100%;font-size:1.2em;border-radius:2px;border:1px solid white;"></input>
      </div>
      <div class="col-xs-2 col-sm-1">
        <a ng-click="checkWord(word.text, spelling, $index)" style="text-align:left;xborder:1px solid white;">
          <i ng-if="checks[$index] == undefined" class="fa fa-circle fa-2x" ng-cloak></i>
          <i ng-if="checks[$index]" class="fa fa-check fa-2x" ng-cloak></i>
          <i ng-if="checks[$index] == false" class="fa fa-times fa-2x" ng-cloak></i>
        </a>
      </div>
    </div>
    <div ng-if="bee.mode==='study'" class="word-panel study">
      <div class="row">
        <div class="col-xs-2 col-sm-1" style="xborder:1px solid red;text-align:right;">
          <audio id="audio-player{{$index}}" controls style="display:none;">
            <source src="{{word.audio}}" type="audio/mpeg">
          </audio>
          <a ng-click="play($index)">
            <i class="fa fa-play fa-2x"></i>
          </a>
        </div>
        <div class="col-xs-10 col-sm-11" style="margin:0;padding:0;">
          <div><label  style="color:white;font-size:2em;line-height:.9em;letter-spacing:2px;">{{word.text}}</label></div>
        </div>
      </div>
      <div class="row" style="color:#fff;padding:0 1em;">
        <div style="padding:1em 0;">{{word.pg}}</div>
        <div>{{word.definition}}</div>
      </div>
  </div>
  </div>
</div>
