
//
// // @import "bootstrap/bootstrap";
// // @import "globals";
// // @import "dashboard";
@import "home";
@import "rounds";
@import "up";

.welcome {
  background-color: #fdaf17;
  &:hover {
    background-color: #222;
  }
}

.xcontainer {
  max-width:960px;
  margin: 0 auto;
  margin-bottom:4em;
}

i {
  color: #fff;//fdaf17;
}

.word-panel {
  // border:1px solid #fdaf17;
  background-color:#fdaf17;
  padding:1em;
  margin:0 .5em;
  border-radius:3px;
  &.wrong {
    background-color:#df2602;// #fd3c17;
  }
  &.right {
   background-color:#10b12a;
  }
  &.study {
    background-color: #222;
  }
}


.fa-play {
  cursor:pointer;
}

.level-info {
  text-align:center;
  padding-top:1em;
}
.round-actions {
  text-align:center;
  padding:.4em 0 .5em 0;
  padding:0 2.4em;
  .round-action {
    border:2px solid #fff;
    cursor:pointer;
    background-color:#222;
    color:#fff;
    padding:.5em 0;
    border-radius:3px;
    &.active {
      background-color:#fdaf17;
    }
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
  .rounds {
    ul {
      li {
        width:3.5em;
        margin:.5em;
      }
    }
  }
  .level-info, .level-action {
    font-size:2em;
  }
  .word-panel {
    margin:.5em 0;
  }
}

@media only screen
and (min-device-width : 960px) {
  body {
    background-color: #000;

    .xcontainer {
      background-color: #fff;
    }
    .rounds {
      padding: .5em 1em;
      height:2.75em;
      ul {
        text-align: center;
        li {
          margin:.25em;
          border-radius: 3px;
        }
      }
    }
    .study-word {
      margin-left:-1em;
    }

    .round-actions {
        padding:0 1.5em;
    }

  }
}
